  .ProductDetailsStyle {
    padding: 16px;
    font-size: 1.2em;
  }
  
  .ProductDetailsStyle img {
    width: 250px;
    height: 250px;
  
    position: absolute;
    top: 0px;
    right: 0px;

    object-fit: contain;
  }
  
  table td {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    border-bottom: 1px lightgray solid;
  }
  
  .ProductsListImages {
    width: 230px;
    height: 230px;

    object-fit: contain;
  }
  
  .ToProductDetails {
    font-weight: bold;
    font-size: 1.5em;
  }
  